@media (min-width: 1200px) {
    .container {
        width: 1140px !important;
    }
}
@media (min-width: 992px) and (max-width: 1200px) {
    .container {
        width: 940px !important;
    }
    .section1 {
        height: 640px !important;
    }
    .s2-4 {
        padding-left: 25px !important;
        padding-right: 25px !important;
    }
}
@media (min-width: 767px) {
    .s3-img, .s3-2 {
        width: 50% !important;
    }
}
@media (min-width: 767px) and (max-width: 992px) {
    .container {
        width: 720px !important;
    }
    .section1 {
        height: 640px !important;
    }
    .s1-3 {
        font-size: 1.25rem !important;
    }
}
@media (max-width: 767px) {
    .section1 {
        height: 605px !important;
    }
    .s2-2 {
        min-width: 100% !important;
    }

    .s3-1 {
        flex-direction: column !important;
    }
    .s3-img {
        width: 100% !important;
    }
    .s3-2 {
        width: 100% !important;
    }
    .s3-3 a {
        font-size: 0.85rem !important;
        margin: 28px auto 45px;
    }
}
@media (min-width: 575px) and (max-width: 767px) {
    .container {
        width: 490px !important;
    }
    h1 {
         font-size: 4.5rem !important;
     }
    .section1 p {
        font-size: 1.2rem !important;
        margin-right: 55px;
    }
    .s1-1 {
        width: 490px !important;
    }
}
@media (min-width: 767px) and (max-width: 1199px) {
    header {
        height: 72px !important;
    }
    nav {
        margin-top: 28px !important;
    }
    h1 {
        font-size: 4.5rem !important;
    }
    .s1-1 {
        width: 598px !important;
    }
    .logo {
        max-width: 64px;
    }
}
@media (max-width: 575px) {
    header {
        height: 104px !important;
    }
    h1 {
        font-size: 3rem !important;
    }
    .section1 p {
        font-size: 1.2rem !important;
        margin-right: 55px;
    }
    .container {
        width: 340px !important;
    }
    .s1-1 {
        width: 340px !important;
    }
    .s3-3 {
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
    .s3-3 h2 {
        padding-left: 30px;
        padding-right: 30px;
        font-size: 2.5rem;
    }
    .s3-3 p {
        font-size: 0.9rem !important;
    }
}

header {
    background-image: none;
    color: #ffffff;
    background-color: #2d2d4a;
    width: 100%;
    height: 104px;
}

footer {
    width: 100%;
    height: 307px;
    color: #ffffff;
    background-color: #2d2d4a;
}

img {
    border-style: none;
}

body {
    margin: 0 auto;
}

h1 {
    color: #2d2d4a;
    font-weight: 400;
    margin: 20px 0 0;
    font-size: 6rem;
    line-height: 1.1;
}

h2 {
    color: #2d2d4a;
    font-weight: 700;
    line-height: 1.2;
    font-size: 3rem;
}

h3 {
    color: #6ac17d;
    margin: 23px 0 0;
    font-weight: 700;
    line-height: 1.2;
    font-size: 1.875rem;
    text-transform: uppercase;
}

h5 {
    margin: 10px 20px 0;
    font-weight: 700;
    line-height: 1.2;
    font-size: 1.25rem;
}

nav {
    width: 25px;
    height: 17px;
    margin-top: 44px;
    display: flex;
    justify-content: center;
}

.menu {
    width: 25px;
    height: 17px;
}

svg {
    width: 100%;
    height: 100%;
}

.text-1 {
    font-family: 'Roboto Condensed',sans-serif;
}

.text-2 {
    font-family: Roboto,sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header img {
    margin-top: 22px;
}

.container {
    height: 100%;
    width: 75%;
    margin: 0 auto;
}

.logo {
    width: 100px;
    height: auto;
}

.s1-1 {
    width: 725px;
    padding-top: 76px;
    padding-bottom: 65px;
    justify-content: center;
}

.s1-2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
}

.s1-3 {
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.6;
    width: auto;
}

.s2-1 {
    margin: -90px -15px 65px -15px;
    /*margin-left: -15px;*/
    /*margin-right: -15px;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.s2-2 {
    box-sizing: border-box;
    width: 33.333%;
    border: 15px solid transparent;
    background-color: transparent;
    opacity: 1;
}

.s2-3 {
    background-color: #f5fef4;
    /*height: 327px;*/
}
.s2-4 {
    height: 100%;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.s2-5 {
    font-family: Roboto,sans-serif;
    font-style: italic;
    padding-top: 20px;
    padding-bottom: 44px;
    margin: 0;
    /*margin: 20px 0 30px;*/
    font-weight: 400;
    line-height: 1.6;
    font-size: 1rem;
    word-wrap: break-word;
}

.s3-1 {
    display: flex;
    flex-direction: row;
}

.s3-2 {
    width: 50%;
    background-image: linear-gradient(45deg, #6ac17d, #9bf194);
}

.s3-3 {
    height: 100%;
    padding-left: 81px;
    padding-right: 81px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.s3-4 {
    font-weight: 400;
    line-height: 1.6;
    font-size: 1rem;
    color: #293330;
}

.s3-5 {
    padding-left: 55px;
    padding-right: 55px;
    margin-top: 54px;
    margin-bottom: 28px;
}

.s3-img {
    width: 50%;
}

.s3-img2{
    width: 100%;
}

.s4-1 {
    margin-top: 65px;
    margin-bottom: 111px;
}

.s4-2 {
    display: flex;
    flex-direction: row;
}

.s4-3 {
    margin: -15px;
    border: 15px solid transparent;
    background-color: transparent;
    opacity: 1;
    height: 560px;
}

.s4-5 {
    position: relative;
    background-image: url(../img/bggr.png);
    background-position: 50% 50%;
    background-size: cover;
    margin-top: -138px;
    margin-left: 307px;
    width: 365px;
}

.s4-6 {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.s4-9 {
    margin-left: 15px;
}

.s4-10 {
    padding-right: 30px;
    padding-left: 30px;
}

.s4-10 h2 {
    z-index: 100;
}

.s4-font-1 {
    margin: -42px 0 0;
}

.s4-font-2 {
    font-weight: 400;
    line-height: 1.6;
    font-size: 1rem;
    margin-top: 20px;
}

.s4-img {
    height: 493px;
    margin-top: -346px;
    margin-left: 65px;
    margin-right: 43px;
}
.s8-2 {
    padding-top: 60px;
    padding-left: 12%;
    padding-right: 12%;
}

.s8-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
}

.s8-3 h2 {
    color: #293330;
    margin: 15px 0 0;
    text-align: center;
}

.s8-3 img {
    width: 160px;
    margin: 18px auto 0;
}

.s8-3 p {
    color: #293330;
    margin: 25px 0 15px;
    font-weight: 400;
    line-height: 1.6;
    font-size: 1rem;
    text-align: center;
}

.s8-4 {
    margin: 48px auto 0 0;
    width: 100%;
}

.s8-5 {
    margin: -5px;
}

.s8-6 {
    display: flex;
    flex-direction: row;
}

.s8-6 img {
    width: 100%;
    height: 100%;
}

.s8-7 {
    margin: 68px auto 78px;
}

.s8-img {
    border: 5px solid transparent;
    margin-bottom: 0px;
}

.s9-1 {
    height: 184px;
    background-image: linear-gradient(#6ac17d, #9bf194);
}

.s9-2 {
    padding-top: 33px;
    padding-bottom: 33px;
    height: 78px;
    display: table;
    margin-top: -184px;
}

.s9-3 {
    margin: -11px;
}

.s9-4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.s9-5 {
    border: 10px solid transparent;
    background-color: transparent;
    opacity: 1;
    width: 270px;
}

.s9-5 h3 {
    font-size: 2.25rem;
    margin-top: 10px;
}

.s9-6 {
    color: #111111;
    background-color: #ffffff;
    height: 262px;
}

.s9-8 {
    margin-top: 20px;
    margin-bottom: 0px;
}

.section10 a {
    display: inline-block;
    color: #bde6c6;
    margin-top: 25px;
    margin-bottom: 25px;
    padding-bottom: 2px;
    border-bottom: 1px dashed #bde6c6;
    letter-spacing: 1px;
}

.section10 p {
    display: inline-block;
}

.icon-s4 {
    width: 127px;
    margin-top: 63px;
    margin-left: -34px;
}

.p4 {
    margin: 17px 20px 14px;
}

.gradient {
    width: 562px;
    height: 412px;
    background-image: linear-gradient(#6ac17d, #9bf194);
    margin: 0 auto 0 0;
}

.list {
    line-height: 1.8;
    padding-left: 20px;
}

.button-1 {
    margin-top: 28px;
    margin-right: auto;
    margin-bottom: 55px;

    color: #292933;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #292933;
    border-radius: 50px;
    letter-spacing: 2px;
    font-size: 0.875rem;
    line-height: 1.4;
    text-align: center;
    padding: 10px 30px;
}
.button-1:hover {
    color: #ffffff;
    background-color: #292933;
}

.button-2 {
    color: #ffffff;
    background-color: #292933;
    text-transform: uppercase;
    text-decoration: none;
    border: 2px solid #292933;
    border-radius: 50px;
    letter-spacing: 2px;
    font-size: 0.875rem;
    line-height: 1.4;
    text-align: center;
    padding: 10px 30px;
}

.icon {
    height: 85px;
    width: 85px;
    margin: 37px auto 0;
}

.icon-2 {
    height: 52px;
    width: 54px;
    margin: 52px auto 0;
}

.f-logo {
    width: 100px;
}

.f-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 38px;
    margin-bottom: 35px;
}

.f-2 {
    width: 100%;
    padding-top: 33px;
    display: flex;
    justify-content: center;
}

.f-3 {
    font-style: italic;
    margin-bottom: 34px;
    text-align: center;
    color: #cecee4;
}

.f-4 {
    height: 30px;
    margin: 1px;
}

.f-4 img {
    width: 100%;
    height: 100%;
}

.section1 {
    width: 100%;
    height: 620px;
    background-image: url(../img/greenbg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section2 {
    width: 100%;
    height: 335px;
    background-color: #2d2d4a;
    display: table;
}

.section9 {
    width: 100%;
    background-image: linear-gradient(0deg, rgba(45,45,74,0.9), rgba(45,45,74,0.9)), url(../img/1.jpg);
    background-position: 50% 50%;
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
}

.section10 {
    color: #ffffff;
    background-color: #333333;
    text-align: center;
    padding: 1em;
    font-size: 0.8rem;
    line-height: 1.8;
}