html {
    height: 100%;
}
body {
    width: 80%;
    margin: 0 auto;
    background-color: #6f9d43;
    color: #ffffff;
    font-family: "Book Antiqua", serif;
    font-size: 1.2rem;
}

form {
    display: block;
    margin: 10px auto;
    width: 80%;
    padding: 1em;
    border: 2px solid #000000;
    border-radius: 1em;
    background-color: white;
    color: black;
}

.content {
    display: table;
    width: 50%;
    margin: 50px auto;
    background-color: #252524;
    opacity: 95%;
    border-radius: 20px;
    box-shadow: 0 0 15px black;
}

.form1, table {
    text-align: center;
    width: 100%;
    margin: 50px auto;
}

input {
    width: 70%;
    margin: 20px;
}

button {
    width: 70%;
    margin: 15px auto 20px;
    font-family: "Book Antiqua", serif;

    background-color: white;
    color: #292933;
    text-decoration: none;
    border: 2px solid #292933;
    border-radius: 50px;
    font-size: 1.3rem;
    font-weight: bold;
    text-align: center;
    padding: 15px 0;
}
button:hover {
    color: white;
    background-color: #292933;
}